<div class="as-producttile large-4 small-6 group-1">
    <div class="as-producttile-tilehero with-paddlenav with-paddlenav-onhover">
        <div class="as-dummy-container as-dummy-img">

            <img src="./assets/{$img}" class="ir ir item-image as-producttile-image" alt="" width="445" height="445">
        </div>
        <div class="images mini-gallery gal1 ">
            <ul class="clearfix as-producttile-nojs">
                <li class="as-searchtile-nojs">
                    <img src="./assets/{$img}>" class="ir relatedlink item-image as-producttile-image" alt="" width="445" height="445" data-scale-params-2="wid=890&amp;hei=890&amp;fmt=jpeg&amp;qlt=95&amp;op_usm=0.5,0.5&amp;.v=1502831144597">
                </li>
            </ul>

            <div class="as-isdesktop with-paddlenav with-paddlenav-onhover">
                <div class="clearfix image-list xs-no-js as-util-relatedlink relatedlink" data-relatedlink="2|Beats Studio3 Wireless Over‑Ear Headphones - Shadow Gray|MQUF2">
                    <div class="as-tilegallery-element as-image-selected">
                        <div class="">

                        </div>
                        <img src="./assets/{$img}" class="ir ir item-image as-producttile-image" alt="" data-desc="Samsung galaxy" style="content:-webkit-image-set(url(https://md6.pricebaba.com/images/product/mobile/46638/{$img}">
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="as-producttile-info" style="min-height: 168px;">
        <div class="as-producttile-titlepricewraper" style="min-height: 128px;">
            <div class="as-producttile-title">
                <h3 class="as-producttile-name">
                    <p class="as-producttile-tilelink">
                        <span data-ase-truncate="2">{$title}</span>
                    </p>

                </h3>
            </div>
            <div class="as-price-currentprice as-producttile-currentprice">
                $<?=number_format($price,0,',','.')?>
            </div>
        </div>
        <!--<form action="detalle" method="post">-->
        <?=form_open('detalle')?>
            <input type="hidden" name="img" value="./assets/{$img}">
            <input type="hidden" name="title" value="{$title}">
            <input type="hidden" name="price" value="{$price}">
            <input type="hidden" name="unit" value="1">
            <button type="submit" class="mercadopago-button" formmethod="post">Comprar</button>
        </form>
    </div>
</div>